<div>
  <h2 id="page-heading" data-cy="EtiquetagemHeading">
    <span>Etiquetagems</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etiquetagem"
        [routerLink]="['/etiquetagem/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Criar novo Etiquetagem</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (etiquetagems?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>Nenhum Etiquetagem encontrado</span>
    </div>
  }

  @if (etiquetagems && etiquetagems.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="x">
              <div class="d-flex">
                <span>X</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="y">
              <div class="d-flex">
                <span>Y</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="largura">
              <div class="d-flex">
                <span>Largura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="altura">
              <div class="d-flex">
                <span>Altura</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="etiqueta.id">
              <div class="d-flex">
                <span>Etiqueta</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="imagem.id">
              <div class="d-flex">
                <span>Imagem</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (etiquetagem of etiquetagems; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/etiquetagem', etiquetagem.id, 'view']">{{ etiquetagem.id }}</a>
              </td>
              <td>{{ etiquetagem.x }}</td>
              <td>{{ etiquetagem.y }}</td>
              <td>{{ etiquetagem.largura }}</td>
              <td>{{ etiquetagem.altura }}</td>
              <td>
                @if (etiquetagem.etiqueta) {
                  <div>
                    <a [routerLink]="['/etiqueta', etiquetagem.etiqueta.id, 'view']">{{ etiquetagem.etiqueta.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (etiquetagem.imagem) {
                  <div>
                    <a [routerLink]="['/imagem', etiquetagem.imagem.id, 'view']">{{ etiquetagem.imagem.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/etiquetagem', etiquetagem.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">Visualizar</span>
                  </a>

                  <a [routerLink]="['/etiquetagem', etiquetagem.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(etiquetagem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
